*{
    margin: 0%;
    overflow: hidden;
}

.container{
    display: flex;
}
.leftside{
    width: 50%;
    height: 1000px;
    background-color: dodgerblue;
}

.leftside .text-animation{
    text-align: center;
    padding-top: 500px;
    font-size: 20px;
}

.rightside{
    width: 50%;
}

