*{
    margin: 0%;
    overflow: hidden;
}
body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container{
    display: flex;
}
.leftside{
    width: 50%;
    height: 1000px;
    justify-content: center;
    background-color: dodgerblue;
    font-family: 'poppins', sans-serif;
}

.leftside{
    text-align: center;
    padding-top: 300px;
    padding-bottom: 450PX;
    font-size: 30px;
}

.rightside{
   font-family: 'poppins', sans-serif;
    width: 50%;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.for{
     border: 3px solid red;
     border-radius: 20px;
     background-image: linear-gradient(olive,dodgerblue);
     height: 370px;
     width: 400px;
     margin-left: 280px;
}
form span{
    display: block;
    margin: 20px 0;
    
}
button, input, select, textarea{
    font-family: 'poppins' sans-serif;
    font-size: 100%;
} 
